
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #FFFFFF;
    height: 100%;

}
header {
    display: flex;
    justify-content: space-between;
}
header nav{
    
}
header button{
    width: 150px;
    height: 40px;
    color: #868383;
    background-color:#0A99FE;
    border: none;
    border-radius: 10px;  
    opacity: 90%;
}
header button:hover{
    width: 150px;
    height: 40px;
    color: #868383;
    background-color:#0A99FE;
    border: none;
    border-radius: 10px;  
    cursor: pointer;
    opacity: 100%;

}
header button h3{
    margin: 0 auto;
    font-size: 20px;
    
}
main section h2{
    color: 	#1B1B1B;
    font-size: 20px;
}
main section p{
    color: #868383;
   
}
main section img{
    width: 207px;
    height: 220px;
}
main section ul{
    display: flex;
    list-style: none;
    gap: 10px;
    width: 100vw;
    overflow-x: scroll;
}
main section ul li{
    min-width: 207px;
    height: max-content;
    
}
main section ul li .nomeProduto{
    font-size: 20px;
}
main section ul li .precoProduto{
    font-size: 16px ;
}